*,*:before,*:after {
	margin:0rem;
	padding:0rem;
	box-sizing: border-box;
	text-align:center;
	color:black;
	background-color: white;
	font-family:"Amatic SC",sans-serif;
	font-weight: 700;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
li {
	list-style: none;
}
.masthead {
	width:40%;
	float:left;
	position:fixed;
}
.masthead__title {
	font-size: 12em;
	line-height: 0.8em;
	vertical-align: middle;
}

.masthead__handle {
	font-size:3em;
	color: #888;

}

.shopping-list{
	width:60%;
	padding:0rem 10rem;
	float:right;
}

.add-item__input {
	width: 80%;
	margin: 0.5em 0em;
	border:1px solid #888;
	border-radius: 8px;
	font-size:2em;
	float: left;

}

/*.add-item__input:after {
	content:"\002b";
	background-color: #888;
	font-size: 2em;
	padding:0.25em 0.5em;
}*/

.add-item__btn {
	margin:0.5em 0em;
	padding: 0em;
	width:15%;
	background: none;
	background-color: #888;
	font-size: 2em;
	box-shadow: none;
	border:none;
	border-radius: 8px;
	float:right;

}

.stuff-i-need {
	min-height: 20rem;
}
.list-header {
	clear:both;
	background-color: black;
	color:white;
	font-size: 2em;
	border-radius: 8px;
}

.sl-item {
	margin:0.15em 0em;
	padding:0.15em 0em;
	width: 100%;	
	height:1.7em;
	border:2px dotted white;
	border-radius: 8px;
	font-size:3em;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */

}
.sl-item:hover{
	border-color:#444;
	cursor: pointer;

}

.side {
	width:10%;
	padding:0em 0.15em;
	float:left;
	color:white;
}
.middle {
	width:80%;
	float:left;
}

.in-my-bag__list > .sl-item > .middle {
	color:#888;
	text-decoration: line-through;
}
.in-my-bag__list > .sl-item > .side {
	color:white;
}



/*.sl-item:before {
	content:"\2713";
	float:left;
	display: none;
}
.sl-item:after {
	content:"\2717";
	float:right;
	display: none;
}*/

@media only screen and (max-width: 1200px){
	.masthead{
		width:30%; 
	}
	.shopping-list {
		width:70%;
		padding: 0rem 5rem;
	}
	
}
@media only screen and (max-width: 769px){
	.masthead{
		width:80%; 
		margin:0rem auto;
		padding:1rem;
		position:relative;
		float:none;
	}
	.masthead__title {
		margin:0.5rem 0rem;
		font-size: 10em;
		letter-spacing: 0.1em;
	}
	.add-item{
		margin:0;
	}
	.shopping-list {
		width:80%;
		margin:0 auto;
		padding: 0rem 0rem;
		float:none;
	}
	
}

@media only screen and (max-width: 550px){
	.masthead__title{
		font-size: 5em;
	}
	.masthead__handle{
		font-size: 2em;
	}
	.need-item, .bag-item{
		font-size: 2em;
	}
}